@media (min-width: 360px) {
  .upcoming-container{
    background-color: #1c1c1e;
    color: rgb(255, 255, 255);
    padding: 50px 20px;
    margin-bottom: 10px;
  
    h1{
      margin: 0;
      font-size: 1.5rem;
    }
  
    .upcoming-movies-wrapper{
      margin-top: 20px;
      display: flex;
      flex-wrap: wrap;
      gap: 18px;

      .wrapper{
        width: 100px;
        height: 150px;
      }
      
  
      .upcoming-movie{
        background-color: rgb(38, 38, 38);
        width: 100px;
        height: 150px;
        aspect-ratio: 3/1;
        flex: 1;
        border-radius: 5px;
        position: relative;
      }
  
      .upcoming-movie-poster{
        object-fit: cover;
        object-position: center;
        border-radius: 10px;
        position: absolute;
        border-radius: 5px;
        

      }
    }
  }
}

